/* .App {
  text-align: center;
} */
.center-container {
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 30rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white; */
}

.welcome-container {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.welcome-question {
  font-size: 1.6rem;
  color: grey;
}

.footer {
  font-size: 0.8rem;
  color: grey;
}

.center-container-list {
  margin: 0 auto;
  width: 100%;
  max-width: 33rem;
}

.center-container-list-buttons {
  margin: 0 auto;
  width: 100%;
  max-width: 33rem;

  padding: 0;
  /* width: 100%;
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  margin: auto;

  padding: 0; */
}

.center-container-list-buttons button {
  width: 32%;
  /* height: 6rem; */
  /* margin: 0.2rem; */
  /* font-size: 0.8rem !important; */
  margin: auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}
.center2 {
  /* width: 100%;
  height: 100%; */
  /* top: 50%;
 
  left: 50%; */
  /* display: flex;
  align-items: center; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-items-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: white;
  text-align: center;
}

.center-items {
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: white;
  text-align: center;
}

.dashboard-items {
  list-style: none;
  margin: 0.4rem auto;
  padding: 0;
  width: 100%;
  max-width: 50rem;
  /* max-width: 100rem; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-learn-button,
.dashboard-learn-button-small-text {
  margin: 1.4rem 2rem;

  width: 12rem;
  height: 6rem;
  font-size: 2rem !important;
  line-height: 2.4rem !important;
}

.dashboard-learn-button-small-text {
  font-size: 1.7rem !important;
  line-height: 2.2rem !important;
}

.dashboard-item {
  margin: 1rem 1rem;
  max-width: 40rem;
}

div.card-body {
  padding: 0;
}

.answered-message {
  margin: 0 auto;
  width: 100%;
  max-width: 38rem;
  /* height: 20rem; */
}

.learn-card {
  margin: 0 auto;
  width: 100%;
  max-width: 38rem;
  /* height: 20rem; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.learn-card p {
  margin: 0;
}

.learn-Progress {
  margin: 6px 14px;

  width: 3rem;
  height: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.learn-card-body {
  /* margin: auto auto; */
  padding: 0;
  width: 100%;
  display: flex;
  /* justify-content: space-between;
  align-content: space-around; */
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;

  /* width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto; */

  padding: 0;
}

.learn-card-body button {
  min-width: 16rem;
  height: 6rem;
  margin: 1rem;
}

.learn-card-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-items: center;
  padding: 8px 18px !important;
}
/* .learn-card-header h1 {
  width: calc(100% - 2rem);
} */
.learn-card-word {
  width: calc(100% - 2rem);
}

.word-options {
  /* flex-basis: 2rem; */
  width: 2rem;
  /* margin-left: auto; */
}

.word-options button {
  width: 2rem;
  height: 2rem;
  margin: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.word-info {
  font-size: 3rem;
  display: inline;
  margin: 0 auto;
  /* width: 100% */

  max-width: 38rem;
  /* height: 20rem; */
  width: fit-content;
  min-width: 12rem !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.word-info-body {
  font-size: 2rem !important;
  text-align: center;
  color: grey;
}

.word-info-sentence {
  margin: 1.2rem auto;
  width: 100%;
  max-width: 38rem;
}
.word-info-sentence h4 {
  font-size: 2rem;
  color: #444444;
}
.word-info-sentence p {
  font-size: 1.3rem;
  color: grey;
}
.word-info-level {
  width: 7rem;
  height: 6rem;
  text-align: center;
  margin: 1rem;
}

.word-info-level-body {
  display: flex;
  /* justify-content: space-between;
    align-content: space-around; */
  justify-content: center;
  flex-wrap: wrap;
}

.word-info-level-body-item {
  /* height: 2rem; */
  margin: 0.2rem 1rem auto 1rem;
}
.word-info-level-body-item-button {
  margin: 0.5rem 0.12rem auto 0.12rem;
  width: 3rem;
  padding: 0 !important;
}

.flag-icon {
  width: 2rem;
  padding: 0.3rem 0 0 0;
}
.flag-icon-big {
  width: 4rem;
  padding: 0;
}

.dropdown-toggle.nav-link {
  padding: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

@media (min-width: 684px) {
  .dashboard-items {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    width: 100%;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .learn-Progress {
    margin: 12px 14px;

    width: 3rem;
    height: 3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
}
